<?xml version="1.0"?>
<launch>
    <!-- 定义世界文件参数 -->
    <arg name="world_name" default="$(find limo_gazebo_sim)/worlds/hui.world"/>

    <!-- 启动Gazebo环境 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <!-- 机器人命名空间 -->
    <group ns="limo1">
        <!-- 加载机器人模型 -->
        <param name="robot_description" command="$(find xacro)/xacro '$(find limo_description)/urdf/limo_four_diff.xacro'
            robot_namespace:=limo1 ns:=limo1" />

        <!-- 在Gazebo中加载机器人模型 -->
        <node name="spawn_limo_model" pkg="gazebo_ros" type="spawn_model" args="-x 0
                  -y 0
                  -unpause
                  -urdf
                  -param robot_description
                  -model limo1" />

        <!-- 发布机器人状态 -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
            <param name="tf_prefix" value="limo1" />
            <param name="publish_frequency" type="double" value="50.0" />
        </node>

        <!-- 发布关节状态 -->
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    </group>

    <!-- 启动机器人控制界面 -->
    <node name="limo1_rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering" output="screen"/>

    <!-- 启动Rviz -->

</launch>